@model CategoryViewModel

@{
    ViewData["Title"] = "Edit Category";
}

<div class="renderCard">
    <div class="card shadow border-0 rounded offset-1 col-10">
        <div class="card-header">
            <div class="row p-3">
                <h2 class="text-info">Edit Category</h2>
            </div>
        </div>
        <div class="card-body p-0">
            <form method="post" asp-area="Admin" asp-controller="Category" asp-action="Edit" enctype="multipart/form-data">
                <input asp-for="Id" type="hidden" />
                <input asp-for="ImageUrl" type="hidden" />

                <div class="row">
                    <div class="col-9">
                        <div class="border p-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating py-2 col-12 mb-3">
                                        <input asp-for="Name" class="form-control border-0 shadow rounded" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                        <label asp-for="Name" class="ms-0"></label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating py-2 col-12 mb-3">
                                        <input type="file" name="file" class="form-control border-0 shadow rounded" />
                                        <label for="file" class="ms-0">Upload New Image</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-6">
                                    <button type="submit" class="form-control btn btn-warning shadow">Update</button>
                                </div>
                                <div class="col-6">
                                    <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="form-control btn btn-outline-secondary shadow">Back To List</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <img id="preview" class="p-3" src="~/@Model.ImageUrl"
                             style="width:100%; border-radius:5px; border:1px solid #ffffff" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

  
}
