<div class="container">
    <div class="card shadow border-0 rounded">
        <div class="card-header">
            <h2 class="text-info">My Orders</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="orderTable" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Order Code</th>
                            <th>Customer</th>
                            <th>Total</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/order.js"></script>  
}
