@{
    ViewData["Title"] = "Shops";
}

<div class="container renderCard">
    <div class="card shadow border-0 rounded">
        <div class="card-header">
            <div class="row p-3">
                <div class="col-6">
                    <h2 class="text-info">Shop List</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblShops" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Shop</th>
                            <th>Seller</th>
                            <th>Details</th>
                            @if (ViewBag.Status != "Deleted")
                            {
                                <th>Action</th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div id="shopDetailModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="shopDetailModalContent">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const shopStatus = '@ViewBag.Status';
        const showActionColumn = shopStatus !== 'Deleted';
    </script>
    <script src="~/js/shop.js"></script>
    <partial name="_DataTable" />
}
