<div class="container">
    <div class="row">
        <!-- Filtre Alanı (Sol Taraf) -->
        <div class="col-md-3">
            @await Component.InvokeAsync("ProductFilter")
        </div>

        <!-- Ürün Listesi (Sağ Taraf) -->
        <div class="col-md-9" id="productCardContainer">
            @await Component.InvokeAsync("ProductCard")
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/filter.js"></script>
}