 @model UserProfileViewModel

@{
    ViewData["Title"] = "User Details";
}

<div class="renderCard">
    <div class="card shadow border-0 rounded offset-2 col-8">
        <div class="card-header">
            <div class="row p-3">
                <h2 class="text-info">User Details</h2>
            </div>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="User" asp-action="Details">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating py-2 col-12 mb-3">
                                <input asp-for="Name" class="form-control border-0 shadow rounded"
                                       pattern="[A-Za-zÇçĞğİıÖöŞşÜü\s]{2,50}"
                                       title="Name must be between 2 and 50 characters and contain only letters."
                                       required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                                <label asp-for="Name" class="ms-0"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating py-2 col-12 mb-3">
                                <input asp-for="Email" class="form-control border-0 shadow rounded" readonly />
                                <span asp-validation-for="Email" class="text-danger"></span>
                                <label asp-for="Email" class="ms-0"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-floating py-2 col-12 mb-3">
                                <input asp-for="ContactNumber" class="form-control border-0 shadow rounded" />
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                <label asp-for="ContactNumber" class="ms-0"></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating py-2 col-12 mb-3">
                                <input asp-for="Address" class="form-control border-0 shadow rounded" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                                <label asp-for="Address" class="ms-0"></label>
                            </div>
                        </div>
                    </div>


                    <div class="row mt-4">
                        <div class="col-6">
                            <button id="submitButton" type="submit" class="form-control btn btn-warning rounded shadow">
                                <i class="bi bi-save"></i> Update
                            </button>
                        </div>
                        <div class="col-6">
                            <a asp-controller="Home" asp-action="Index" class="form-control btn btn-outline-secondary rounded shadow">
                                <i class="bi bi-house-door"></i> Home
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />

        
    }
}