<li class="nav-item">
    <a class="nav-link text-dark position-relative" href="/Cart/Index">
        <i class="bi bi-cart-fill"></i> Cart
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model
        </span>
    </a>
</li>
