@{
    ViewData["Title"] = "Shop Not Found";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-warning text-center rounded shadow">
                <h4 class="mb-3">You do not have an active shop account.</h4>
                <p>Please make sure your account is active or contact the administrator.</p>
                <a href="/Seller/Home/Index" class="btn btn-primary mt-3">Return to Home Page</a>
            </div>
        </div>
    </div>
</div>
